name: Build and deploy docs
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      with:
        persist-credentials: false
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install cats with documentation helpers
      run: python3 -m pip install '.[docs]'
    - name: Build sphinx docs
      run: make -C docs html
    - name: Deploy sphinx docs
      if: github.ref == 'refs/heads/main'
      run: |
        git config user.name 'github-action'
        git config user.email 'github-action'
        ghp-import -m 'Update sphinx docs' --push --no-history \
          --branch gh-pages --no-jekyll --force docs/build/html
